.MuiFormControl-root {
  width: 100%;
}

.inputProblem--nextButton {
  margin: 20px !important;
}

.inputProblem--title {
  font-weight: normal;
  font-style: italic;
}

.inputProblem--error-text {
  font-style: italic !important;
  color: red !important;
  margin-top: 10px !important;
}
